<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title><%= @title %></title>

<link rel="stylesheet" href="/styles/base.css" type="text/css" media="screen" />

</head>
<body>

	<form action="/submit" method="post">
        <%= @survey %>
        <input type="submit" value="Submit">
    </form>

</body>
</html>