<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title><%= @title %></title>

<link rel="stylesheet" href="/styles/normalize.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/styles/trebek.css" type="text/css" media="screen" />

</head>
<body>

	<form action="/submit" method="post">
        <%= @questions %>
        <input type="hidden" name="survey_id" value="<%= @id %>">
        <input type="submit" value="Submit">
    </form>

</body>
</html>